body {
    background-color: C0C5C1;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 55px;
    color: rgb(0, 45, 128);
}
.method {
    background-color: rgb(224, 241, 255) ;
    width: 600px;
}
.apps {
    background-color: rgb(188, 223, 252) ;
    width: 600px;
}
.tools {
    background-color: rgb(146, 206, 255) ;
    width: 600px;
}