body {
    background-color: rgb(255, 220, 225);
    background-image: url(../img/scattered-forcefields.png);
    background-repeat: repeat;
    background-size: contain;
    padding-right: 15px;
    margin-left: 50px;
}

h1 {
    font-size: 55px;
    color: rgb(0, 45, 128);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h2 {
    font-size: 40px;
    text-decoration: underline;
}

.aboutus,
.ourmission,
.whatsetsusapart {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}
.aboutus {
    line-height: 1.5;
}
.ourmission {
    line-height: 1.5;
}
.whatsetsusapart {
    line-height: 2;
}
h3 {
    margin-left: 30px;
    font-size: 30px;
}
.method,
.apps,
.tools  {
    width: 600px;
    margin-bottom: 50px;
    padding: 0px;
    line-height: 1.5;
    font-size: 20px;
}
.method {
    background-color: rgb(224, 241, 255) ;
    border: 5px rgb(0, 67, 121) solid;
}
.apps {
    background-color: rgb(188, 223, 252) ;
    border: 5px rgb(0, 63, 121) solid;
}
.tools {
    background-color: rgb(146, 206, 255) ;
    border: 5px rgb(8, 0, 121) solid;
}
.underline-italic {
    text-decoration: underline;
    font-style: italic; 
}